<div>
    <p>Owner :{% block first_block %}Name {% endblock %}</p>
    <p>Contributor: {% block second_block %}Name{% endblock %}</p>
    <p>Maintainer{% block third_block %}Name{% endblock %}</p>
</div>